input {
  margin-bottom: 15px;
}

select {
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 15px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

.columns  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}
