.instrument {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
  height: 400px;
  width: 400px;
  align-items: center;
}

.instrument img {
  max-height:400px;
  max-width:400px;
  height:auto;
  width:auto;
  margin-top: 40px;
  padding: 30px;
}

.instrument h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.instrument h2:hover {
  color: grey;
}

.instrumentImage {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
